*{
    margin: 0;
    padding: 0; 
}

body{
	margin: 0;
	padding: 0;
	font-family: "PTSans","Helvetica","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    background-color: #f6f6f6;

}




.cart{
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    width: 77%;
    display: inline-block;
    border: 1px solid #ddd;
    position: relative;
    background-color: #fff;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 15px;
    margin:0 11.5% 0 11.5%;
    margin-bottom: 25px;
}
.cart_h{
    font-size: 17px;
    line-height: 1.42857;
    color: #333;
    text-align: center;
}

.cart_p{
    font-size: 16px;
    line-height: 1.42857;
    color: #333; 
    text-align: center;
}
#sliderrr{
    float: left;
    width: 100%;
    height: 100%;
    z-index: 4;


}


.footer{
    width: 100%;
    height: 8.7vw;
    background-color: #0c1d33;
    float: left;
}
.footer_bl1{
    width: 70vw;
    height: 100%;
    padding-left: 2.5vw;
    float: left;
}

.footer_bl1 h3{
    color: #fff;
    font-size: 1.5vw;
    padding-left: 2vw;
    padding-top: 1.5vw;
}

.footer_bl1 p{
    color: #fff;
    font-size: 1.3vw;
    padding-top: 0.6vw;
    padding-left: 2vw;
}

.footer_bl2{
    width: 15vw;
    height: 100%;
    padding-left: 2.5vw;
    float: left;
}

.footer_bl2 h3{
    color: #fff;
    font-size: 1.5vw;
    padding-top: 1.5vw;
}

.socset{
    width: 15vw;
    height: 3vw;
}

.vk{
    width: 2.6vw;
    height: 2.6vw;
    background: url(img/s1200.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.89;
    margin-top: 0.46vw;
    float: left;
}
.twitter{
    width: 3vw;
    height: 3vw;
    background:  url(img/twitter.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.89;
    margin-top: 0.3vw;
    margin-left: 1vw;
    float: left;
}
.inst{
    width: 4.5vw;
    height: 2.36vw;
    background: url(img/inst.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.89;
    margin-top: 0.6vw;
    float: left;
}
.fase{
    width: 2.7vw;
    height: 2.7vw;
    background: url(img/fase.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.89;
    margin-top: 0.4vw;
    margin-left: 1vw;
    float: left;
}

.adap{
    width: 80%;
    float: left;
    margin: 25px 10% 0 10%;
}

.adapvnutry{
    width: 25%;
}

.sliderrrrrrrr{
    float: left;
    width: 100%;
    height: 100%;
    z-index: 1212121;
    margin-bottom: 0;

}

.bx-pager{
    display: none;
}

@media screen and (min-width: 1401px) and (max-width: 3600px){
    .adapvnutry{
        width: 20%;
        float: left;
    }
    .logo{
        width: 362px;
        height: 112px;
        float: left;
        margin-top: 0.5vw;
        margin-left: 3vw;
        background: url(img/logo1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .blockinfo{
        width: 71%;
        float: right;
        margin-top: 2vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px){
    .adapvnutry{
        width: 25%;
        float: left;
    }
    .logo{
        width: 285px;
        height: 90px;
        float: left;
        margin-top: 0.5vw;
        margin-left: 3vw;
        background: url(img/logo1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .blockinfo{
        width: 64%;
        float: right;
        margin-top: 2vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    .adapvnutry{
        width: 33.3%;
        float: left;
    }
    .logo{
        width: 22%;
        height: 90px;
        float: left;
        margin-top: 0.5vw;
        margin-left: 3vw;
        background: url(img/logo1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
        .blockinfo{
        width: 71%;
        float: right;
        margin-top: 2vw;
    }
}

@media screen and (min-width: 401px) and (max-width: 800px){
    .adapvnutry{
        width: 50%;
        float: left;
    }
    .logo{
        width: 22%;
        height: 62px;
        float: left;
        margin-top: 0.5vw;
        margin-left: 3vw;
        background: url(img/logo1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
    }
    .blockinfo{
        width: 90%;
        float: right;
        margin-top: 3vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 400px){
    .adapvnutry{
        width: 100%;
        float: left;
    }
    .logo{
        width: 22%;
        height: 57px;
        float: left;
        margin-top: 0.5vw;
        margin-left: 3vw;
        background: url(img/logo1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
    }
    .blockinfo{
        width: 71%;
        float: right;
        margin-top: 3vw;
    }
}



.img_prosmotr {
    width: 51.7vw;
    height: 41vw;
    position: fixed;
    left: 21.5vw;
    top: 5vw;
    float: left;
    z-index: 3;

}
.img_prosmotr_zakr{
    width: 2vw;
    height: 2vw;
    float: right;
    background: url(img/Xcircle2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
}

.prosmotr_1,.prosmotr_2,.prosmotr_3,.prosmotr_4,.prosmotr_5,.prosmotr_6,.prosmotr_7,.prosmotr_8,.prosmotr_9,.prosmotr_10,.prosmotr_11,.prosmotr_12{
    display: none;
}


.cart_img1{
    width: 100%;
    background: url(img/drew_grec/1_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.blockslid{
    width: 1000px;
    height: 600px;
}

.bx-wrapper{
    margin-bottom: 0;
}



.header{
    width: 100%;
    height: 130px;
    background: url(img/uzory3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    border-bottom: 3px solid #9EC1D4;

}



.blockinfo h3{
    font-size: 19px;
    line-height: 1.42857;
    color: #333;
}

.blockinfo p{
    font-size: 18px;
    line-height: 1.42857;
    color: #333; 
}